body {
  background-color: #dad4c2;
  color: #1f1e17;
  font-family: Didact Gothic;
  padding: 20px;
  margin: 0;
}
h1, h2, h4{
  font-family: Yuji Syuku;
  text-align: center;
}
h1{
  font-size: 2.5rem;
}
h4{
  font-size: 1.2rem;
  font-weight: bolder;
}
img{
  width: 300px;
  height: 300px;
  border-radius: 70%;
  object-fit: cover;
  display: block;
}
#hero{
  text-align: center;
  height: 20rem;
}
#hero img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 50%;
} 
#audio{
  text-align: center;
  margin-bottom: 20px;
}
#lyrics{
  background-image: url(keshi-void.jpg);
  color: #f8f7f3;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: left 200px top 10px ;
  border: 0 100% 0 100%;
  padding: 50px;
}
pre{
  line-height: 2;
}
section{
  background-color: #1f1e17;
}
.container{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
figcaption{
  text-align: center;
  color: #6f685a;
  padding-top: 10px;
}
#about{
  margin: 5rem;
  line-height: 2;
  font-size: large;
}
#about em{
  color: #6f685a;
}
footer{
  border: solid 2px #8a8374;
  border-radius: 5px;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  margin: 2rem 0 0 0;
  background-color: #1f1e17;
  color: #f8f7f3;
}
